a {
  text-decoration: none;
}

.header {
  padding: 50px 0px;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
  padding-left: 100px;
}

.header-right {
  float: right;
  padding-right: 100px;
}

.header-right a {
  padding-left: 10px;
  color: #b3aeb5;
  letter-spacing: 1.5px;
  font-family: "sans-serif";
}

h2 {
  text-align:center;
  letter-spacing: 2px;
  color: #808080;
}

.about {
  background-color: ;
  padding: 10px 0px
}

.about p {
  margin: auto;
  margin-bottom: 30px;
  width: 50%;
  font-size: 15px;
  color: #696969;
}

.works {
  height: 580px;
  padding: 20px 80px;
  background-color: #f7f7f7;
  text-align: center;
}

.w {
  float: left;
  width: 25%;
}

.work-icon {
  position: relative;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  color: #b3aeb5;
}

.menu {
  padding: 20px 20px;
  background-color: #e6e6fa;
}

.profile {
  font-size: 10px;
}
